<div class="gallery">
  <figure class="gallery__item">
    <img src="assets/img/hotel-1.jpg" alt="hotel" class="gallery__photo" />
  </figure>
  <figure class="gallery__item">
    <img src="assets/img/hotel-2.jpg" alt="hotel" class="gallery__photo" />
  </figure>
  <figure class="gallery__item">
    <img src="assets/img/hotel-3.jpg" alt="hotel" class="gallery__photo" />
  </figure>
</div>

<div class="overview">
  <h1 class="overview__heading">Hotel Las Palmas</h1>
  <div class="overview__stars">
    <svg class="overview__icon-star">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="overview__icon-star">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="overview__icon-star">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="overview__icon-star">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    <svg class="overview__icon-star">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
  </div>

  <div class="overview__location">
    <svg class="overview__icon-location">
      <use xlink:href="assets/img/sprite.svg#icon-location-pin"></use>
    </svg>
    <button class="btn-inline">Albufeira, Portugal</button>
  </div>

  <div class="overview__rating">
    <div class="overview__rating-average">8.6</div>
    <div class="overview__rating-count">430 votes</div>
  </div>
</div>

<div class="detail">
  <div class="description">
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi
      dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut
      corporis incidunt deserunt quae architecto voluptate.
    </p>
    <p class="paragraph">
      Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto
      voluptate delectus, inventore iure aliquid aliquam.
    </p>
    <ul class="list">
      <li class="list__item">Close to the beach</li>
      <li class="list__item">Breakfast included</li>
      <li class="list__item">Free airport shuttle</li>
      <li class="list__item">Free wifi</li>
      <li class="list__item">Air conditioning</li>
      <li class="list__item">Pets allowed</li>
      <li class="list__item">Multilaguage</li>
      <li class="list__item">Perfect for families</li>
    </ul>
    <div class="recommend">
      <p class="recommend__count">
        Lucy and 3 other friend recommend this hotel.
      </p>
      <div class="recommend__friends">
        <img src="assets/img/user-3.jpg" alt="user" class="recommend__photo" />
        <img src="assets/img/user-4.jpg" alt="user" class="recommend__photo" />
        <img src="assets/img/user-5.jpg" alt="user" class="recommend__photo" />
        <img src="assets/img/user-6.jpg" alt="user" class="recommend__photo" />
      </div>
    </div>
  </div>

  <div class="user-reviews">
    <figure class="review">
      <blockquote class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
        doloremque architecto dicta animi, totam, itaque officia ex.
      </blockquote>
      <figcaption class="review__user">
        <img src="assets/img/walter.webp" alt="user" class="review__photo" />
        <div class="review__user-box">
          <p class="review__user-name">Walter White</p>
          <p class="review__user-date">Feb 23rd, 2023</p>
        </div>
        <div class="review__rating">8.5</div>
      </figcaption>
    </figure>

    <figure class="review">
      <blockquote class="review__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
        doloremque architecto dicta animi.
      </blockquote>
      <figcaption class="review__user">
        <img src="assets/img/skyler.webp" alt="user" class="review__photo" />
        <div class="review__user-box">
          <p class="review__user-name">Skyler White</p>
          <p class="review__user-date">sept 25rd, 2023</p>
        </div>
        <div class="review__rating">7.5</div>
      </figcaption>
    </figure>

    <button class="btn-inline">Show all <span>&rarr;</span></button>
  </div>
</div>
